@page "/category/create"
@attribute [Authorize]
@inject HttpClient http
@using ElevenNoteWebApp.Shared.Models.Category
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager navigation

<h3>Create</h3>

@if (errorMesssage != null)
{
    <h5 class="text-danger">@errorMesssage</h5>
}

<div class="container">
    <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label>Name</label>
            <InputText class="form-control" @bind-Value="model.Name" />
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-5">Submit</button>
    </EditForm>
    <div class="d-flex justify-content-center mt-3">
        <a href="/category">Back to Categories Index</a>
    </div>
</div>

@code {
    private CategoryCreate model = new();
    private string errorMesssage;

    private async void HandleSubmit()
    {
        var createRes = await http.PostAsJsonAsync<CategoryCreate>("/api/category", model);

        if (createRes.IsSuccessStatusCode)
        {
            navigation.NavigateTo("/category");
        }
        else
        {
            errorMesssage = "Could not create your category right now. Please try again later.";
        }
    }
}
